.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-wrap: balance;
}

.main-content h1 {
  font-weight: 500;
}

#logo-home {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
